<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1071216596441-iuhl7uulc7n0n9udpk30fifdpvjtfh68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071216596441-iuhl7uulc7n0n9udpk30fifdpvjtfh68</string>
	<key>API_KEY</key>
	<string>AIzaSyBLtdx1Nj76aD02dIkmPEZPd2WeNkRwws8</string>
	<key>GCM_SENDER_ID</key>
	<string>1071216596441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takatakayone.YentaLikeApp</string>
	<key>PROJECT_ID</key>
	<string>yentalikeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>yentalikeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071216596441:ios:c64585ed0d7c7e5b</string>
	<key>DATABASE_URL</key>
	<string>https://yentalikeapp.firebaseio.com</string>
</dict>
</plist>